@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@font-face {
    font-family: 'SketchMatch';
    src: url('../fonts/SketchMatch.ttf') format('truetype');
};

/* Setting up our padding and margins*/
* {
    padding: 0;
    margin: 0;
}

/* For relative positioning later */
html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    user-select: none;
    overflow: hidden;
}

/* Title */
div.title {
    font-family: 'SketchMatch', cursive;
    color: #ccc;
    font-size: 40px;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    padding: 0;
}

/* Alignment for Table Cells */
td {
    border: 2px solid #ccc;
    color: #ccc;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 70px;
    font-family: 'Karla', 'Comic Sans MS', cursive, sans-serif;
    cursor: pointer;
}

/* Table alignment and closing */
table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 100px;
}

/* ############################ */
/* Removing uneccessary borders */
/* ############################ */

/* Top Border */
table tr:first-child td {
    border-top: 0;
}

/* Left Border */
table tr td:first-child {
    border-left: 0;
}

/* Bottom Border */
table tr:last-child td {
    border-bottom: 0;
}

/* Right Border*/
table tr td:last-child {
    border-right: 0;
}

.endgame {
    display: none;
    width: 200px;
    height: max-content;
    top: 180px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    transition: display 5s ease-in-out;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    border: 2px solid #ccc;
    font-size: 2em;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgb(52 58 64 / 50%);
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

button.replay {
    font-family: 'Karla';
    border-color: #ccc;
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 185px;
    margin-left: -50px;
    width: 100px;
    height: 75px;
    border-radius: 5px;
}